<div class="container">
    <footer class="footer">
        <small>
            Copyright &copy; 2016. A website by <a href="http://www.crueknight.com">Theodor "Crue Knight" Kim.</a>
        </small>
        <nav>
            <ul>
                <li><%= link_to "About", about_path %></li>
            </ul>
            
        </nav>
    </footer>
</div>